<h1>News</h1>
<ul>
  <li>
    <b>April 16, 2026: HPE Supports PACT 2026 as a Silver Sponsor</b>
    <p>
      PACT 2026 is pleased to recognize HPE as a Silver Sponsor of the
      conference. HPE’s support helps strengthen the conference and the broader
      PACT community. We are grateful for their participation and for their
      commitment to advancing research in parallel architectures and compilation
      techniques.
    </p>
  </li>
  <li>
    <b>April 10, 2026: Student Support Available for PACT 2026</b>
    <p>
      Thanks to support from SIGARCH, limited student support is available for
      PACT 2026. If you are a student planning to attend, please contact the
      General Chair at
      <a href="mailto:mtaufer@utk.edu?subject=PACT Student Support"
        >mtaufer@utk.edu</a
      >
      with <b>PACT student support</b> in the subject line. We encourage
      interested students to reach out early.
    </p>
  </li>
</ul>
