
<p>
    A fake hotel reservation service is trying to scam attendees & speakers!
</p>
<p>
    Scam companies, such as Travel Hosting (operations@travelhosting.co.uk), may try to reach out.
    Please ignore the emails.
    Do not reply, click on any links in them, fill out any forms, or provide credit card information.
</p>
<p>
    PACT does not use third-party organizations that reach out to you (online or via telephone) for booking accommodations.
    <br>
    <strike>
        For your safety and security, reservations at the conference hotel should only be made using the following link:
        <a href="https://reservations.travelclick.com/75044?groupID=4029480">https://reservations.travelclick.com/75044?groupID=4029480</a>.
    </strike>
    <br>
    To book rooms at the venue please contact them via email at <a href="mailto:reservierung.savoyen@austria-trend.at">reservierung.savoyen@austria-trend.at</a>.
    <br>
    There still are rooms available.
</p>
