<h3 id="important-dates-and-deadlines">Important Dates and Deadlines</h3>

<!-- <p><strong>Registration:</strong></p>

<ul>
  <li>
      <strike>
        Early registration deadline: Sep 3, 2023
      </strike>
  </li>
</ul> -->

<p><strong>Conference Papers:</strong></p>

<ul>
  <li>
    Abstract submission deadline: 
    <b>April 17, 2026</b>
  </li>  <!--   <strike>Abstract submission deadline: Mar 22, 2024</strike> -->
  <li>
      
      Paper submission deadline:
      <b>April 24, 2026</b>
<!--         <br>
        <b>Extended to April 15, 2023</b> -->
     
  </li>
<!--   <li>
      <strike>
        Round 2 rebuttal period:
        Jul 10-13, 2023
      </strike>
  </li> -->

  <li>
      
        Rebuttal Period:
       <b>July 12-16, 2026</b> 
      
  </li>
  <li>
      
       Author Notification 
       <b>August 5, 2026</b> 
      
  </li>
  <li>
      
        <a href="{{site.baseurl}}/ae">Artifact submission</a>:
       <b>August 10, 2026</b> 
      
  </li>
  <li>
      
        Camera ready papers:
       <b>October 2, 2026</b> 

  </li>
</ul>

<p><strong>ACM SRC:</strong></p>
<ul>
  <li>

        Abstract Registration Deadline:
       <b>TBD</b> 

  </li>

  <li>

        Abstract Submission Deadline:
       <b>TBD</b> 
  </li>
</ul>  
<!-- 
<p><strong><a href="{{site.baseUrl}}/workshops/">Workshops and Tutorials</a>:</strong></p>

<ul>
  <li>
      <strike>
        Workshop submission deadline: July 3, 2023
      </strike>
  </li>
  <li>
      <strike>
        Tutorial submission deadline:
        <strike>August 21, 2023</strike>
        <strike><b>August 14, 2023</b></strike>
      </strike>
  </li>
</ul>

<p><strong><a href="{{site.baseUrl}}/src/">Student Research Competition</a>:</strong></p>

<ul>
  <li>
      <strike>
        Abstract submission deadline:
        <strike>August 17, 2023</strike><br>
        <b>Extended to August 21, 2023</b>
      </strike>
  </li>
  <li>
      <strike>
        Author notification:
        September 1, 2023
      </strike>
  </li>
  <li>
      Poster session:
      October 23, 2023
  </li>
  <li>
      Finalist presentations:
      October 25, 2023
  </li>
</ul>
-->
  <!--
<p><strong><a href="{{site.baseUrl}}/ae.html">Artifact Evaluation</a>:</strong></p>

<ul>
  <li>
      <strike>
        Artifact submission deadline:
        July 8, 2024
      </strike>
  </li>

  <li>
      <strike>
        Author notification:
        September 13, 2023
      </strike>
  </li>
  -->
</ul> 



<!--
PACT 2022:

**Posters:**

- <del>Poster Submission Deadline: September 1, 2022</del>
- <del>Author Notification: September 15, 2022</del>
- <del>Extended Abstract: September 29, 2022</del>
- <del>Poster Session: October 10, 2022</del>

**[ACM Student Research Competition](./src.html):**

- <del>Abstract Submission Deadline: September 8, 2022</del>
- <del>Author Notification: September 16, 2022</del>
- <del>SRC Poster Session: October 11, 2022</del>
- <del>SRC Finalist Presentations: October 12, 2022</del>

**[Student Travel Awards](attend.html#travel-awards):**

- <del>Application Deadline: October 5, 2022</del>

**Workshops and Tutorials:**

- Workshops/Tutorials: October 8&ndash;9, 2022

-->

<p>
  <strong>Conference: October 19–22, 2026</strong>
</p>

<hr/>

<!--

---

### Sponsors
PACT 2022:

#### Platinum

![Qualcomm](images-generated/qualcomm.png)

#### Gold

![Huawei](images-generated/huawei.png)

-->

<div>
   <h3 id="sponsors">Sponsors</h4>

<!--  <h4 id="sponsors-gold">Platinum</h4>

  <div class="sidebar-img">
    <img src="/images/huawei-logo.png" alt="Huawei"/>
  </div>

  <h4 id="sponsors-gold">Gold</h4>

  <div class="sidebar-img">
    <img src="/images/arm-logo.png" alt="Arm"/>
  </div>

  <div class="sidebar-img">
    <img src="/images/googlelogo_color_416x140dp.png" alt="Google"/>
  </div> -->

<!--  <h4 id="sponsors-bronze">Bronze</h4>
        <div class="sidebar-img">
            <img src="{{site.baseurl}}/images/qc_logo_flt_rgb_blu_pos.png" alt="Qualcomm Incorporated"/>
        </div> 
-->

  <h4 id="supporters">Supporters</h4>

  <div class="sidebar-img">
    <img src="{{site.baseurl}}/images/ieee-cs-logo.png" alt="IEEE Computer Society Logo"/>
    <img src="{{site.baseurl}}/images/acm-sigarch-logo.jpg" alt="ACM SigArch Logo"/>
    <img src="{{site.baseurl}}/images/ifip-logo.png" alt="IFIP Logo"/>
  </div>
</div>

<hr/>

<h3 id="previous-pacts">Previous PACTs</h3>

<ul>
  <li><a href="https://pact2025.github.io">PACT25</a></li>
  <li><a href="https://pact2024.github.io">PACT24</a></li>
  <li><a href="https://pact2023.github.io">PACT23</a></li>
  <li><a href="https://pact22.cs.illinois.edu/index.html">PACT22</a></li>
  <li><a href="http://pact21.snu.ac.kr/">PACT21</a>
(<a href="https://ieeexplore.ieee.org/xpl/conhome/9563009/proceeding">proceedings</a>)</li>
  <li><a href="https://pact20.cc.gatech.edu/">PACT20</a>
(<a href="https://dl.acm.org/doi/proceedings/10.1145/3410463">proceedings</a>)</li>
  <li><a href="https://hpc.pnl.gov/pact19/">PACT19</a>
(<a href="https://ieeexplore.ieee.org/xpl/conhome/8890589/proceeding">proceedings</a>)</li>
  <li><a href="http://www.cs.ucy.ac.cy/conferences/pact2018/">PACT18</a>
(<a href="https://dl.acm.org/doi/proceedings/10.1145/3243176">proceedings</a>)</li>
  <li><a href="https://parasol.tamu.edu/pact17/">PACT17</a>
(<a href="https://www.computer.org/csdl/proceedings/pact/2017/12OmNwbcJ4M">proceedings</a>)</li>
  <li>PACT16
(<a href="https://dl.acm.org/doi/proceedings/10.1145/2967938">proceedings</a>),</li>
  <li><a href="https://sites.google.com/a/lbl.gov/pact2015/">PACT15</a>
(<a href="https://ieeexplore.ieee.org/xpl/conhome/7425426/proceeding">proceedings</a>)</li>
  <li><a href="http://pact2014.pactconf.org/">PACT14</a>
(<a href="https://dl.acm.org/doi/proceedings/10.1145/2628071">proceedings</a>)</li>
</ul>
<details>
  <summary>Earlier PACTs</summary>
  <ul>
    <li><a href="http://conferences.inf.ed.ac.uk/pact2013/">PACT13</a></li>
    <li><a href="http://pact2012.ece.northwestern.edu/index.html">PACT12</a></li>
    <li><a href="https://parasol.tamu.edu/pact11/">PACT11</a></li>
    <li><a href="http://www.complang.tuwien.ac.at/PACT-2010/">PACT10</a></li>
    <li><a href="http://pact09.renci.org/">PACT09</a></li>
    <li><a href="http://www.eecg.toronto.edu/pact/">PACT08</a></li>
    <li><a href="http://pact07.cs.tamu.edu/">PACT07</a></li>
    <li><a href="http://www.cs.virginia.edu/~pact2006/">PACT06</a></li>
    <li><a href="http://pact05.ce.ucsc.edu/">PACT05</a></li>
    <li><a href="https://home.mis.u-picardie.fr/~cerin/pact/">PACT04</a></li>
    <li><a href="https://www.ccis.northeastern.edu/pact03/">PACT03</a></li>
    <li><a href="http://moss.csc.ncsu.edu/pact02/">PACT02</a></li>
    <li><a href="http://research.ac.upc.es/pact01/">PACT01</a></li>
    <li><a href="http://eecs.oregonstate.edu/pact2000/">PACT00</a></li>
    <li><a href="http://www.cs.ucy.ac.cy/~pact99/">PACT99</a></li>
  </ul>
</details>

<!--
PACT 2022:

<div class="text-muted" markdown="1">
- [Technical Committee on Parallel Processing](https://tc.computer.org/tcpp/)
- [Technical Committee on Computer Architecture](https://ieeetcca.org/)
</div>


#### Academic

[![CS@Illinois](images-generated/illinois-wordmark.png)](https://cs.illinois.edu)

Supported by [Argonne National Laboratory](https://alcf.anl.gov).

-->
