<div{% if include.compact %} class="sponsors-compact"{% endif %}>
   <h3 id="sponsors">Sponsors</h3>

  <h4 id="sponsors-gold">Platinum</h4>
  <div class="sidebar-img">
    <a href="https://www.google.com/" target="_blank">
        <img src="/images/googlelogo_color_416x140dp.png" alt="Google"/>
    </a>
  </div>

  <h4 id="sponsors-gold">Silver</h4>

  <div class="sidebar-img">
    <a href="https://www.hpe.com/" target="_blank">
        <img src="{{site.baseurl}}/images/hpe-logo.svg" alt="HPE"/>
    </a>
  </div>
  <div class="sidebar-img">
    <a href="https://nationalsciencedatafabric.org/" target="_blank">
        <img src="{{site.baseurl}}/images/nsdf-logo.png" alt="NSDF"/>
    </a>
  </div>

 <!-- Bronze Sponsors-->
  <h4 id="sponsors-bronze">Bronze</h4>

  <div class="sidebar-img">
    <a href="https://www.qualcomm.com/" target="_blank">
        <img src="{{site.baseurl}}/images/qc_logo_flt_rgb_blu_pos.png" alt="Qualcomm Incorporated"/>
    </a>
  </div>


  <div class="sidebar-img supporter-logos">
    <h4 id="supporters">Supporters</h4>
    <img src="{{site.baseurl}}/images/ieee-cs-logo.png" alt="IEEE Computer Society Logo"/>
    <img src="{{site.baseurl}}/images/acm-sigarch-logo.jpg" alt="ACM SigArch Logo"/>
    <img src="{{site.baseurl}}/images/ifip-logo.png" alt="IFIP Logo"/>
  </div>
</div>
